<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schmoll.tlkw.mapper.PcDataManualmaterialMapper">

    <resultMap id="BaseResultMap" type="com.schmoll.tlkw.entity.PcDataManualmaterial">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="container" column="CONTAINER" jdbcType="VARCHAR"/>
            <result property="itemcode" column="ITEMCODE" jdbcType="VARCHAR"/>
            <result property="itemdes" column="ITEMDES" jdbcType="VARCHAR"/>
            <result property="uom" column="UOM" jdbcType="VARCHAR"/>
            <result property="olditemvalue" column="OLDITEMVALUE" jdbcType="VARCHAR"/>
            <result property="newitemvalue" column="NEWITEMVALUE" jdbcType="VARCHAR"/>
            <result property="isok" column="ISOK" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CONTAINER,ITEMCODE,
        ITEMDES,UOM,OLDITEMVALUE,
        NEWITEMVALUE,ISOK,CREATETIME
    </sql>
</mapper>
