<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schmoll.tlkw.mapper.PcSignalStatusMapper">

    <resultMap id="BaseResultMap" type="com.schmoll.tlkw.entity.PcSignalStatus">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="signalcode" column="SIGNALCODE" jdbcType="VARCHAR"/>
            <result property="signaldes" column="SIGNALDES" jdbcType="VARCHAR"/>
            <result property="signalvalue" column="SIGNALVALUE" jdbcType="VARCHAR"/>
            <result property="createtime" column="CREATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,SIGNALCODE,SIGNALDES,
        SIGNALVALUE,CREATETIME
    </sql>
</mapper>
